$color-dark: #161616;
$color-main: rgb(64, 131, 148);
$color-career: rgb(138, 64, 148);
$color-skills: rgb(18, 139, 93);
$color-project: rgb(180, 197, 26);
$color-contact: rgb(124, 44, 33);
$color-li: rgb(216, 216, 216);
$color-bg-card: rgb(233, 232, 232);
$gutter: 1rem;
