@use "src/styles/vars";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600;700&family=Vampiro+One&display=swap');

body {
  background-color: vars.$color-dark;
}

.app {
  color: vars.$color-main;
  font-family: "Roboto Mono";

  &--description {
  color: vars.$color-main;
  }

  &--career {
    color: vars.$color-career;
  }

  &--skills {
    color: vars.$color-skills
  }

  &--projects {
    color: vars.$color-project
  }

  &--contact {
    color: vars.$color-contact;
  }
}
