@use "src/styles/vars";

.skills {
    border: 5px solid vars.$color-skills;
    border-radius: 50px;
    background-color: vars.$color-bg-card;

    &__title {
      text-shadow: 1px 3px 4px rgb(37, 109, 75);
    }

    &__container {
      overflow-y: auto;
    }
}


