@use "src/styles/vars";

.skills {
    margin: calc(3*vars.$gutter) calc(5 * vars.$gutter);
    border: 5px solid vars.$color-skills;
    border-radius: 50px;
    padding: calc(2 * vars.$gutter);
    background-color: vars.$color-bg-card;
    font-weight: 600;

    &__title {
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        margin-bottom: calc(3 * vars.$gutter);
    }

    &__content {
        font-weight: 600;
    }

    &__list {
     columns: 6;
    }
}

.stack {
  margin: vars.$gutter*3 0;
  opacity: 0; /* Rend l'élément invisible au départ */
  transition: 5s; /* Ajoute une transition de 0.5 secondes avec une fonction d'interpolation "ease" */

  &.visible {
    opacity: 1; /* Rend l'élément visible lorsque la classe "visible" est ajoutée */
  }

  &__img {
    width: 3rem;
  }
}
