@use "src/styles/vars";

.description {
    border: 5px solid vars.$color-main;
    border-radius: 50px;
    background-color: vars.$color-bg-card;
}

.description__title {
  text-shadow: 1px 3px 4px rgb(58, 126, 131);
}

.description__text {
  text-align: center;
}
