@use "src/styles/vars";

.header {

  &__title {
    font-family: 'Vampiro One';
  }

  &__sidebar {
    background-color: vars.$color-bg-card;
  }

  &__button {
    background-color: vars.$color-main;
  }

  &__link--active {
      background-color: vars.$color-bg-card;
      border: 1px solid vars.$color-bg-card;
      box-shadow: 0 0 7px 6px vars.$color-bg-card;
      border-radius: 15%;
  }
}
