@use "src/styles/vars";

.career {
    border: 5px solid vars.$color-career;
    border-radius: 50px;
    background-color: vars.$color-bg-card;
}

.career__title {
  text-shadow: 1px 3px 4px rgb(136, 51, 129);
}
